.image image{
}

.rubrica_mesaj{
  margin-top: -50px;
}

.rubrica_mesaj p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 100px;
    margin-top: -10px;
}

.rubrica_mesaj input[type=text], textarea {
    width: 90%;
    height: 48px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 16px;
    resize: vertical;
}

.rubrica_mesaj input[type=submit]{
    background-color: #4CAF50;
    color: white;
    height: 40px;
    width: 30%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 15px;
}
